@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neonderthaw&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neonderthaw&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 125%;
}

body { 
    font-family: cousine;
    font-size: 1.1rem;
    color: black;
    padding: 2rem;
    text-wrap: pretty;
    margin: 2rem;
    max-inline-size: 90ch;
}

p {
    line-height: 2;
    letter-spacing: 0.1 em;
    margin-bottom: 3%;
}

section {

    h2 {
        position: sticky;
        inline-size: 100%;
	    inset-block-start: 3rem;
	    inset-inline-start: 3rem;
        z-index: 1;
    }

    .em {
        inline-size: 100%;
        padding-bottom: 1rem;
        padding-top: 2rem;
	    inset-block-start: 6rem;
        position: sticky;
    }

}

h1 {
    font-family: cousine;
    color: black;
    font-size: 9rem;
    letter-spacing: 0.0 em;
    line-height: 80%;
    background-color:#95D3E0;
    text-box: trim-both cap alphabetic;
}

h2 {
    font-family: cousine;
    color: black;
    font-size: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#FCCBCF;
    text-box: trim-both cap alphabetic;
}

h3 {
    font-family: cousine;
    color: black;
    font-size: 1.9rem;
    padding-bottom: 1rem;
    text-wrap: pretty;
    background-color: white;
    margin-top: 5rem;
    padding-top: 1rem;
}

h3.em {
    font-size: 1.6rem;
    background-color: white;
}

h3.em::before {
    content: "<em>";
    color: #95D3E0;
    opacity: 50%;
    background-color: white;
}

h3.em::after {
    content: "</em>";
    color: #95D3E0;
    opacity: 50%;
    background-color: white;
}

h4 {
    font-family: cousine;
    background-color:#95D3E0;
    color: black;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-box: trim-both cap alphabetic;
    text-wrap: pretty;
}

blockquote {
    font-family: cousine;
    line-height: 1.5;
    font-style: italic;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFDAC8;
    text-wrap: pretty;
}

em {
    font-weight: bold;
    font-style: italic;
}

.author {
    margin-bottom: 40px;
}

.right-align {
    float: right;
}

code {
    font-family: monospace;
    color: #95D3E0;
    opacity: 50%;
    display: block;
    margin-bottom: 2rem;
}

.basic {
    font-family: monospace;
    color: black;
}

.special-font {
    font-family: neonderthaw;
}

.wild-font {
    color: black;
    font-family: neonderthaw;
    letter-spacing: 1rem;
}

.bigfont { 
    color: black;
    font-size: 2rem;
}

.orange-text {
    color: #DE8152;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.green-text {
    color: #53BF87;
    font-weight: bold;
    margin: 1rem;
    line-height: 20px;
    font-size: 1rem;
}

.green-background {
    background-color: #A6E8C6;
    font-size: 6rem;
    margin-top: 5rem;
}

.upper-space {
    margin-top: 5rem;
}

.pink {
    color: #DE8152;
}

footer {
}
/*:not(:first-child) { margin-block-start: 1em; }