@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neonderthaw&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    font-family: monospace;
    color: black;
    padding: 3rem;
}

.container {
    max-width: 960px;
    margin: auto;
}
h1 {
    font-family: monospace;
    color: black;
    font-size: 12rem;
    line-height: 90%;
    letter-spacing: 0.0 em;
    padding: 10px;
    background-color:#95D3E0;
    text-align: center;
}

h2 {
    font-family: monospace;
    color: black;
    font-size: 8rem;
    line-height: 90%;
    letter-spacing: 0.0 em;
    padding: 10px;
    background-color:#FCCBCF;
    text-align: center;
}

h3 {
    font-family: monospace;
    color: black;
    font-size: 3rem;
    text-align: center;
}

h4 {
    text-align: center;
}

blockquote {
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    font-style: italic;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.code {
    color: #95D3E0;
    opacity: 50%;
}

.special-font {
    font-family: neonderthaw;
}

.wild-font {
    color: black;
    font-family: neonderthaw;
    letter-spacing: 1rem;
}
.bigfont { 
    color: black;
    font-size: 2rem;
}

p {
    text-align: center;
    line-height: 2;
    letter-spacing: 0.1 em;
}

.green-background {
    background-color: #A6E8C6;
    text-align: center;
}

*:not(:first-child) { margin-block-start: 1em; }