@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neonderthaw&family=Overpass+Mono:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

html {
    font-size: 125%;
    margin: 1rem;

}

body { 
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    margin-inline: auto;
    font-size: 1rem;
    color: black;
    padding: 2rem;
    text-wrap: pretty;
    max-inline-size: 100ch;
}

p {
    line-height: 2rem;
    padding-block-end: 2rem;
    padding-inline-start: 6.5rem;
    padding-block-end: 3rem;
}

.first-child {
    padding-block-start: 1.75rem;
}

.article {

    h3 {
        inline-size: 100%;
        padding-block-end: 1rem;
        padding-block-start: 1rem;
	    inset-block-start: 5rem;
        position: sticky;
        padding-inline-end: 5rem;
        background: linear-gradient(to top,#FFFFFF00 0%, #FFFFFFE6 30%, #FFFFFFFF 70%);
      
    }

    h2 {
        position: sticky;
        top: 0;
        color: black;
        font-size: 4rem;
        z-index: 1;
        padding-block-start: 2rem; 
        padding-block-end: 1rem;
        padding-inline-end: 5rem;
        background-color: white;
    }

}

.reflection {
    background-color: #ffe4e4;
    border-radius: 1rem;
    color: black;
    padding-inline-end: 1rem;
    margin-inline-end: 2rem;
    text-wrap: pretty;
    padding-inline-start: 2rem
}

.reflection {

   h6 {
        inline-size: 100%;
        padding-block-end: 1rem;
        padding-block-start: 1rem;
	    inset-block-start: 5rem;
        position: sticky;
        color: black;
        background: linear-gradient(to top,#ffe4e400 0%, #ffe4e4cc 30%, #ffe4e4ff 70%);

    }

    h5 {
        position: sticky;
        top: 0;
        background-color: #ffe4e4; 
        color: black;
        font-size: 4rem;
        z-index: 1;
        padding-block-start: 2rem; 
        padding-block-end: 1rem;
        padding-inline-start: 2rem;
        border-radius: 1rem;
    }

}

.toc {
    margin-block-end: 6rem; /* space from article */
}

.space {
    margin-block-start: 5rem;
}

h1 {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    color: #FB4E4E;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0cap;
    background-color: #000000;
    padding-block-start: 2rem; 
    padding-block-end: 2.25rem;
    padding-inline-start: 2rem;
    text-box: trim-both cap alphabetic;
    border-radius: 1rem;
}

h2 {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    font-size: 5rem;
    padding-block-end: 1rem;
    text-box: trim-both cap alphabetic;
    background-color: white;
}

h3 {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    color: black;
    font-size: 2rem;
    text-wrap: pretty;
    padding-inline-start: .5rem;
}

h3.em::before {
    content: "<h2>";
    color: #7ab839;
}

h3.em::after {
    content: "</h2>";
    color: #7ab839;
}

.em-smaller {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.5rem;
    text-wrap: pretty;
    padding-inline-start: .5rem;
}

h3.em-smaller::before {
    content: "<h2>";
    font-size: 2rem;
    color: #7ab839;
}

h3.em-smaller::after {
    content: "</h2>";
    font-size: 2rem;
    color: #7ab839;
}

h4 {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding-inline-start: 1.25rem;
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
    margin-inline-start: .5rem;
    text-wrap: pretty;
}

h4::before {
    content: "<h3>";
    color: #DE8152;
    font-weight: normal;
}

h4::after {
    content: "</h3>";
    color: #DE8152;
    font-weight: normal;
}

h5 {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size: 5rem;
    padding-block-end: 1rem;
    text-box: trim-both cap alphabetic;
    background-color: white;
}

h6 {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    font-size: 2rem;
    text-wrap: pretty;
    margin-inline-start: 0rem;
}

h6.em::before {
    content: "<h2>";
    color: #d400c3;
}

h6.em::after {
    content: "</h2>";
    color: #d400c3;
}

ul {
    font-size: 1.5rem;
    font-weight: bold;
    padding-block-end: 1rem;
}

.sub-list {
    font-size: 1rem;
    font-weight: normal;
    line-height: 2.5cap;
    list-style-type: none;
}

li.li::before {
    content: "<li>";
    color: #00BDFF;
}

li.li::after {
    content: "</li>";
    color: #00BDFF;
}

li {
    padding-inline-start: 3rem;
    font-size: 1rem;
    line-height: 2.5cap;
    list-style-type: none;
}

section {
    margin-block-end: 2rem;
    background-color: white;
}

.tocheader {
    margin-block-end: 0rem;
}

.link {
    color: black;
    font-size: 1rem;
    margin-inline-start: -2.5rem;
}

.link::before {
    content: "<article>";
    color: #00BDFF;
}

.link::after {
    content: "</article>";
    color: #00BDFF;
}

.link2 {
    color: black;
    font-size: 1rem;
    margin-inline-start: -4rem;
    padding-block-end: 1rem;
}

.link2::before {
    content: "<article>";
    color: #0055ff;
}

.link2::after {
    content: "</article>";
    color: #0055ff;
}

time {
    color: black;
}

.date {
    color: #00BDFF;
    font-size: 1rem;
    padding-inline-start: 2rem;
}

.date::before {
    content: "<date>";
}

.date::after {
    content: "</date>";
}

.date2 {
    color: #0055ff;
    font-size: 1rem;
    padding-inline-start: 2rem;
}

.date2::before {
    content: "<date>";
}

.date2::after {
    content: "</date>";
}

.author {
    color: black;
    font-size: 1rem;
    padding-inline-start: 3rem;
    padding-block-end: 3.5rem;
}

.author::before {
    content: "<author>";
    color: #00BDFF;
}

.author:after {
    content: "</author>";
    color: #00BDFF;
}

.author2 {
    color: black;
    font-size: 1rem;
    padding-inline-start: 3rem;
    padding-block-end: 5rem;
}

.author2::before {
    content: "<author>";
    color: #0055ff;
}

.author2:after {
    content: "</author>";
    color: #0055ff;
}

.sub-header-section {
    color: black;
    font-size: 1rem;
    padding-inline-start: 2rem;
    padding-block-end: 3rem;
}

.class {
    color: #000000;
    font-size: 1rem;
    padding-inline-start: 1rem;
    margin-block-start: 1rem; 
}

.class::before {
    content: "<code class=";
    color: #00BDFF;
}

.class:after {
    content: "></class>";
    color: #00BDFF;
}

blockquote {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    text-wrap: pretty;
    padding-inline-start: 1rem;
    font-style: italic;
}

em {
    font-weight: bold;
    font-style: italic;
}

code {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    color: #00BDFF;
    display: block;
    padding-inline-start: 8rem;
    padding-block-end: 2.5rem;
}

.normal {
    font-size: 2rem;
    font-weight: lighter;
    color: #FB4E4E;
}

.basic {
    font-family: 'Overpass Mono', 'Courier New', Courier, monospace;
    color: black;
}

.bigfont { 
    color: black;
    font-size: 2rem;
}

.green-text {
    color: #53BF87;
    font-weight: bold;
    margin: 1rem;
    line-height: 20px;
    font-size: 1rem;
}

.block {
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-inline-start: 10rem;
    background-color: black;
    border-radius: 1rem;
}

.blockquote {
    padding-block-start: 0.rem;
    padding-block-end: 0.5rem;
    margin-inline-start: -7rem;
}

.quote {
    color: white;
    font-style: italic;
    margin-block-start: 0.25rem;
    margin-block-end: -2rem;
    margin-inline-start: -1rem;
    text-wrap: pretty;
    padding-inline-end: 1rem;
}

.orange-text {
    color: #DE8152;
    font-weight: bold;
    margin-block-start: -0.25rem;
    margin-block-end: -3rem;
    margin-inline-start: -3rem;
}

.bold {
    margin-block-start: 3rem;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    padding-inline-start: 1rem;
    margin-inline-end: 2rem;
    margin-inline-start: 10rem;
    background-color: black;
    border-radius: 1rem;
}

.question {
    padding-block-start: 0.rem;
    padding-block-end: 0.5rem;
    margin-inline-start: -7rem;
}

.bold2 {
    padding-block-start: 1.5rem;
    margin-block-end: 3rem;
    padding-block-end: 1.5rem;
    padding-inline-start: 1rem;
    margin-inline-end: 20rem;
    margin-inline-start: 10rem;
    background-color: black;
    border-radius: 1rem;
}

.person {
   color: #DE8152;
   padding-inline-start: 6.5rem;
   padding-block-end: 2.5rem;
   block-size: 1.5rem;
   font-weight: bold;
   font-size: 1.25rem;
}

.upper-space {
    margin-block-start: 5rem;
}

.pink {
    color: #FB4E4E;
}

.italic {
    font-weight: bold;
    font-style: italic;
    color: #FB4E4E;
}

footer {
    padding-inline-start: 1rem;
    padding-inline-end: 5rem;
    margin-inline-end: 2rem;
    padding-block-end: 1rem;
    padding-block-start: 1rem;
    color:white;
    background-color: black;
    border-radius: 1rem;
}

.cursor { /* crediting Michael French for this code and bringing this cursor idea to life */
    animation: blink .85s step-start infinite;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

@keyframes blink { /* crediting Michael French for this code and bringing this cursor idea to life */
    50% { 
        opacity: 0;
 }
}

a:hover { 
    color:#FB4E4E; 
}

li.link2 a:hover {
    color: #d400c3;
}

li.author2 a:hover { 
    color:#d400c3; 
}

/* only sub-list links hover pink */
.sub-list a:hover {
  color: #fc9696;
}