@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neonderthaw&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neonderthaw&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 125%;
    margin: 1rem;
}

body { 
    font-family: monospace;
    margin-inline: auto;
    font-size: 1rem;
    color: black;
    padding: 2rem;
    text-wrap: pretty;
    max-inline-size: 100ch;
}

p {
    line-height: 2rem;
    padding-block-end: 1.5rem;
    padding-inline-start: 6.5rem;
}

section {

    h2 {
        /* got help with google cause it would not go all the way to the top and you could see paragraphs behind at the top as you scrolled */
        position: sticky;
        top: 0;
        background: white; 
        font-size: 5rem;
        z-index: 1;
        padding-block-start: 3rem; 
        padding-block-end: 1rem;
    }

    h3 {
        inline-size: 100%;
        padding-block-end: 1rem;
        padding-block-start: 1rem;
	    inset-block-start: 7rem;
        position: sticky;
        background-color: white;
    }

}

h1 {
    font-family: monospace;
    color: #FB4E4E;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0cap;
    background-color: #000000;
    padding-block-start: 2rem; 
    padding-block-end: 3rem;
    padding-inline-start: 2rem;
    text-box: trim-both cap alphabetic;
    border-radius: 1rem;
}

h2 {
    font-family: monospace;
    font-weight: bold;
    color: black;
    font-size: 7rem;
    padding-block-end: 1rem;
    text-box: trim-both cap alphabetic;
    background-color: white;
}

/* h2.em {
    color: black;
    font-size: 4rem;
}

h2.em::before {
    content: "<h2>";
    color: #FCCBCF;
    opacity: 50%;
    background-color: white;
}

h2.em::after {
    content: "</h2>";
    color: #FCCBCF;
    opacity: 50%;
    background-color: white;
} */

h3 {
    font-family: monospace;
    color: black;
    font-size: 2rem;
    text-wrap: pretty;
    padding-inline-start: .5rem;
}

h3.em::before {
    content: "<h2>";
    color: #7ab839;
    background-color: white;
}

h3.em::after {
    content: "</h2>";
    color: #7ab839;
    background-color: white;
}

.em-smaller {
    font-family: monospace;
    color: black;
    font-size: 1.5rem;
    text-wrap: pretty;
    padding-inline-start: .5rem;
}

h3.em-smaller::before {
    content: "<h2>";
    color: #7ab839;
    background-color: white;
}

h3.em-smaller::after {
    content: "</h2>";
    color: #7ab839;
    background-color: white;
}

h4 {
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
    margin-inline-start: .5rem;
    text-wrap: pretty;
}

h4::before {
    content: "<h3>";
    color: #DE8152;
    font-weight: normal;
}

h4::after {
    content: "</h3>";
    color: #DE8152;
    font-weight: normal;
}

/* h3.ul {
    font-size: 2rem;
}

h3.ul::before {
    content: "<ul>";
    color: #00BDFF;
}

h3.ul::after {
    content: "</ul>";
    color: #00BDFF;
} */

ul {
    font-size: 2rem;
    font-weight: bold;
    padding-inline-start: 1rem;
    padding-block-end: 0.5rem;
    padding-block-start: 2rem;
}

li.li::before {
    content: "<li>";
    color: #00BDFF;
}

li.li::after {
    content: "</li>";
    color: #00BDFF;
}

li {
    padding-inline-start: 3rem;
    font-size: 1rem;
    line-height: 2.5cap;
    list-style-type: none;
}

section {
    margin-block-end: 2rem;
    background-color: white;
}

.link {
    color: black;
    font-size: 1rem;
    padding-inline-start: 1rem;
}

.link::before {
    content: "<a href=";
    color: #00BDFF;
}

.link::after {
    content: ">";
    color: #00BDFF;
}

time {
    color: black;
}

.date {
    color: #00BDFF;
    font-size: 1rem;
    padding-inline-start: 2rem;
}

.date::before {
    content: "<date>";
}

.date::after {
    content: "</date>";
}

.author {
    color: black;
    font-size: 1rem;
    padding-inline-start: 3rem;
    padding-block-end: 3rem;
}

.author::before {
    content: "<author>";
    color: #00BDFF;
}

.author:after {
    content: "</author>";
    color: #00BDFF;
}

.sub-header-section {
    color: black;
    font-size: 1rem;
    padding-inline-start: 2rem;
    padding-block-end: 3rem;
}

.class {
    color: #000000;
    font-size: 1rem;
    padding-inline-start: 2rem;
    margin-block-start: 1rem; 
}

.class::before {
    content: "<class=";
    color: #00BDFF;
}

.class:after {
    content: ">";
    color: #00BDFF;
}

blockquote {
    font-family: monospace;
    text-wrap: pretty;
    padding-inline-start: 1rem;
    font-style: italic;
}

em {
    font-weight: bold;
    font-style: italic;
}

code {
    font-family: monospace;
    color: #00BDFF;
    display: block;
    padding-inline-start: 8rem;
    padding-block-end: 1.5rem;
}

.basic {
    font-family: monospace;
    color: black;
}

.special-font {
    font-family: neonderthaw;
}

.wild-font {
    color: black;
    font-family: neonderthaw;
    letter-spacing: 1rem;
}

.bigfont { 
    color: black;
    font-size: 2rem;
}

.orange-text {
    color: #DE8152;
    font-weight: bold;
    padding-inline-start: 3rem;
    padding-block-end: 1rem;
}

.green-text {
    color: #53BF87;
    font-weight: bold;
    margin: 1rem;
    line-height: 20px;
    font-size: 1rem;
}

.block {
    padding-block-start: 1.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 3rem;
    margin-inline-start: 10rem;
    background-color: black;
    border-radius: 1rem;
}

.blockquote {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

.quote {
    color: white;
    font-style: italic;
    padding-inline-start: 4rem;
    padding-inline-end: 1rem;
}

.person {
   color: #DE8152;
   padding-inline-start: 6.5rem;
   padding-block-end: 2.5rem;
   block-size: 1.5rem;
   font-weight: bold;
   font-size: 1.5rem;
}

.upper-space {
    margin-block-start: 5rem;
}

.pink {
    color: #DE8152;
}

footer {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-end: 1rem;
    padding-block-start: 1rem;
    color:white;
    background-color: black;
    border-radius: 1rem;
}

.cursor { /* crediting Michael French for this code and bringing this cursor idea to life */
    animation: blink .85s step-start infinite;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

@keyframes blink { /* crediting Michael French for this code and bringing this cursor idea to life */
    50% { 
        opacity: 0;
 }
}

a:hover { 
    color:#FB4E4E; 
}
/*:not(:first-child) { margin-block-start: 1em; }